name: deploy-dev

on:
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20.11.1"

      - name: Build & Export
        run: |
          yarn install
          yarn build

      - name: Deploy to S3 (Prod)
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.DEV_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.DEV_AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ap-southeast-2
        run: |
          aws s3 sync ./dist s3://snuxiuserbucket --delete
          aws cloudfront create-invalidation --distribution-id E1TF16G2587C0Z --paths "/*"\